---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives" class="markdown-body">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h2 class="category-head">{{ category_name }}</h2>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">&nbsp;&nbsp;&nbsp;&nbsp;{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>